= nested_form_for @horno do |f|
  = f.error_messages
  %p
    = f.label :codigo
    %br
    = f.text_field :codigo
  %p
    = f.label :longitud
    %br
    = f.text_field :longitud
  %p
    = f.label :descripcion
    %br
    = f.text_field :descripcion
    %br
  #quema
    %table
      %tr
        %td Quemador
        %td Cantidad Mecheros
        %td Posición
    - f.fields_for :quemadores do |builder|
      = render 'quemador_fields', :f => builder
    = f.link_to_add "Añade un quemador", :quemadores
  %p
    = f.submit
