%h2
  Nuevas mediciones en horno
  = @horno.codigo

= nested_form_for @horno do |f|
  = f.error_messages
  %p
    Código:
    = @horno.codigo
  %p
    Longitud:
    = @horno.longitud
  %p
    Fecha:
    = Date.today

  = f.fields_for :mediciones do |medicion_fields|
    = render  'medicion_fields', :medicion_fields => medicion_fields
  %p
    = f.submit

